.navbar.nav-white .navbar-brand .img-logo {
  background-image: url(../images/logo-nav-white.png); }

.navbar.nav-white ul .nav-item a {
  color: #fff; }
  .navbar.nav-white ul .nav-item a.active {
    color: #fff; }
  .navbar.nav-white ul .nav-item a:before {
    background: #fff; }

.navbar.nav-white ul .nav-item:hover a {
  color: #fff; }

section {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (min-width: 992px) {
    section {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

#welcome {
  position: relative;
  background-image: url(../images/bg-welcome-int-2.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(75px + 3rem);
  padding-bottom: 1rem; }
  @media (min-width: 992px) {
    #welcome {
      padding-top: calc(100px + 2rem); } }
  @media (min-width: 1600px) {
    #welcome {
      padding-top: calc(100px + 5rem); } }
  #welcome .content-list {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #welcome .content-list .list {
      margin-bottom: 2rem;
      display: flex;
      align-items: center; }
      @media (min-width: 992px) {
        #welcome .content-list .list {
          margin-bottom: 5rem; } }
      @media (min-width: 1400px) {
        #welcome .content-list .list {
          margin-left: 10%; } }
      #welcome .content-list .list .circle {
        position: relative;
        width: 3rem;
        height: 3rem;
        background: #fff;
        border-radius: 50%;
        display: inline-table; }
        @media (min-width: 992px) {
          #welcome .content-list .list .circle {
            width: 4rem;
            height: 4rem; } }
        #welcome .content-list .list .circle h2 {
          margin-bottom: 0;
          color: #f32735;
          text-align: center;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          @media (min-width: 992px) {
            #welcome .content-list .list .circle h2 {
              font-size: 3rem; } }
      #welcome .content-list .list .text {
        padding-left: 1rem;
        text-align: left; }
        #welcome .content-list .list .text h2 {
          font-family: "MyriadRoman";
          font-weight: bold;
          margin-bottom: 0;
          color: #fff; }
          @media (min-width: 992px) {
            #welcome .content-list .list .text h2 {
              font-size: 3rem; } }
    #welcome .content-list .download-app {
      position: relative;
      width: 90%;
      margin: 0 auto 2rem;
      padding: 2rem 1rem;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 5px 0px 25px 0px #4d4d4d; }
      @media (min-width: 1200px) {
        #welcome .content-list .download-app {
          width: 60%;
          margin: 0 auto; } }
      #welcome .content-list .download-app h2 {
        font-family: "MyriadRoman";
        font-weight: bold;
        color: #090218;
        text-align: center;
        margin-bottom: 1rem; }
        @media (min-width: 992px) {
          #welcome .content-list .download-app h2 {
            font-size: 2rem; } }
        #welcome .content-list .download-app h2 span {
          font-style: italic;
          color: #f32735; }
      #welcome .content-list .download-app a img {
        transition: all 0.3s; }
      #welcome .content-list .download-app a:hover img {
        transform: scale(1.2); }
  #welcome .img-welcome {
    width: 50%; }
    @media (min-width: 768px) {
      #welcome .img-welcome {
        width: 100%; } }
    @media (min-width: 1400px) {
      #welcome .img-welcome {
        width: 60%; } }
  #welcome .access-player {
    position: relative;
    width: 80%;
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px; }
    #welcome .access-player button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      border: none;
      border-radius: 50px;
      background-color: rgba(77, 77, 77, 0.6);
      transform: translate(-50%, -50%); }
      #welcome .access-player button:hover img {
        transform: scale(1.3);
        filter: drop-shadow(3px 3px 3px #4d4d4d); }
      #welcome .access-player button div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        border: 2px solid #fff;
        border-radius: 50px;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center; }
        #welcome .access-player button div img {
          margin-left: 5px;
          width: 40px;
          transition: all 0.3s; }
  #welcome a.btn {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 3rem; }
  #welcome ul {
    margin-top: 1rem;
    margin-bottom: 0rem;
    padding: 0;
    text-align: center; }
    #welcome ul li {
      display: inline-block; }
      #welcome ul li a {
        color: #090218;
        padding: 1rem;
        transition: all 0.3s; }
        @media (min-width: 992px) {
          #welcome ul li a {
            padding: 1rem 3rem; } }
        #welcome ul li a:hover {
          color: #f32735; }
        #welcome ul li a img {
          margin-right: 0.3rem;
          vertical-align: text-top;
          height: 16px; }

#welcome {
  padding-top: calc(75px + 1rem); }

.phone-welcome-mobile {
  width: 30vw;
  margin: 0 auto;
  padding-bottom: 1rem; }

#caracteristicas .content-icon {
  width: 20vw;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px 0 #4d4d4d; }
  @media (min-width: 992px) {
    #caracteristicas .content-icon {
      width: 10vw;
      padding: 1rem; } }
  #caracteristicas .content-icon img {
    width: 70%;
    margin-bottom: 0.5rem; }
  #caracteristicas .content-icon p {
    font-size: 0.6rem;
    color: #4d4d4d;
    margin: 0;
    line-height: 1; }
    @media (min-width: 460px) {
      #caracteristicas .content-icon p {
        font-size: 0.8rem; } }
    @media (min-width: 768px) {
      #caracteristicas .content-icon p {
        font-size: 1.2rem; } }

#caracteristicas .center {
  position: relative; }
  #caracteristicas .center .circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%); }
  #caracteristicas .center .circle-1 {
    width: 38vw;
    height: 38vw;
    background-color: rgba(243, 39, 53, 0.4); }
    @media (min-width: 992px) {
      #caracteristicas .center .circle-1 {
        width: 33vw;
        height: 33vw; } }
  #caracteristicas .center .circle-2 {
    width: 34vw;
    height: 34vw;
    background-color: rgba(243, 39, 53, 0.7); }
    @media (min-width: 992px) {
      #caracteristicas .center .circle-2 {
        width: 29vw;
        height: 29vw; } }
  #caracteristicas .center .circle-3 {
    width: 30vw;
    height: 30vw;
    background-color: #f32735; }
    @media (min-width: 992px) {
      #caracteristicas .center .circle-3 {
        width: 25vw;
        height: 25vw; } }
  #caracteristicas .center .phone-center {
    width: 100%; }
    @media (min-width: 768px) {
      #caracteristicas .center .phone-center {
        width: 70%; } }

#informacion1 {
  background-image: url(../images/int1/bg-info1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  #informacion1 h2 {
    font-family: "MyriadRoman";
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #f32735; }
    @media (min-width: 992px) {
      #informacion1 h2 {
        font-size: 3rem; } }
  #informacion1 p {
    color: #fff; }
    @media (min-width: 992px) {
      #informacion1 p {
        font-size: 2rem; } }
  @media (max-width: 767.98px) {
    #informacion1 img {
      width: 60% !important; } }
  @media (max-width: 767.98px) {
    #informacion1 .text {
      margin-top: 1rem; } }

#informacion1 {
  background-image: none;
  background-color: #f6f6f6; }
  #informacion1 h2 {
    font-weight: bold; }
  #informacion1 p {
    color: #4d4d4d; }

#informacion2 {
  background-color: #fff;
  text-align: center; }
  #informacion2 .content-img-1 {
    text-align: left; }
    #informacion2 .content-img-1 .img-1 {
      width: 70%; }
  #informacion2 .content-img-2 {
    text-align: right;
    margin-top: -35%; }
    #informacion2 .content-img-2 .img-2 {
      width: 62%;
      padding: 5px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 0 20px 0 #b3b3b3; }
  #informacion2 h2 {
    font-family: "MyriadRoman";
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #f32735; }
    @media (min-width: 992px) {
      #informacion2 h2 {
        font-size: 3rem; } }
  #informacion2 p {
    color: #090218; }
    @media (min-width: 992px) {
      #informacion2 p {
        font-size: 2rem; } }

#informacion2 h2 {
  font-weight: bold; }

#informacion2 p {
  color: #4d4d4d; }

#procesos {
  background-image: url(../images/int3/bg-procesos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    #procesos .lateral {
      padding: 0 5%; } }
  #procesos .box-button {
    font-family: "MyriadRoman";
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s; }
    #procesos .box-button:hover {
      color: #f32735;
      border-color: #fff; }
    #procesos .box-button:before {
      background: #fff;
      border-radius: 10px; }
  #procesos h3 {
    font-family: "MyriadRoman";
    font-weight: bold;
    margin-bottom: 3rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5rem; }
    @media (min-width: 992px) {
      #procesos h3 {
        font-size: 2rem; } }
  #procesos p {
    color: #fff; }
    @media (min-width: 992px) {
      #procesos p {
        font-size: 1rem; } }

#download {
  background-color: #fff;
  padding-bottom: 0rem;
  padding-top: 0; }
  #download h2 {
    font-family: "MyriadRoman";
    color: #090218; }
    @media (min-width: 1400px) {
      #download h2 {
        font-size: 3rem; } }
    #download h2 span {
      font-weight: bold;
      color: #f32735; }
  #download a {
    transition: all 0.3s; }
    #download a:hover {
      transform: scale(1.2); }
  #download .img-store {
    width: 25vw; }
    @media (min-width: 992px) {
      #download .img-store {
        width: 13vw; } }
  #download .phone-mobile {
    width: 100%; }
    @media (min-width: 992px) {
      #download .phone-mobile {
        width: 75%; } }
  @media (min-width: 992px) {
    #download .phone {
      position: absolute;
      width: 100%;
      right: 0;
      bottom: -22%;
      z-index: 1; } }
  @media (min-width: 992px) {
    #download .circle-phone {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30vw;
      height: 30vw;
      background-color: #f6f6f6;
      border-radius: 50%;
      transform: translateY(-50%) translateX(-50%); } }
  #download .container-fluid {
    background-color: #1a1a1a;
    position: relative; }
    @media (min-width: 576px) {
      #download .container-fluid .container .border-lr {
        border-left: 1px solid #4d4d4d;
        border-right: 1px solid #4d4d4d; } }
    #download .container-fluid .container h2 {
      font-family: "MyriadRoman";
      text-align: center;
      color: #f32735;
      font-weight: bold;
      font-size: 3rem; }
    #download .container-fluid .container p {
      font-family: "MyriadRoman";
      text-align: center;
      color: #fff;
      margin: 0; }
