.section-welcome {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, white 50%), url(../images/home/bg-welcome-mobile.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 50px;
  padding-bottom: 3rem;
  display: flex;
  align-items: center; }
  @media (min-width: 992px) {
    .section-welcome {
      padding-top: 100px;
      background-image: url(../images/home/bg-welcome.png); } }
  @media (min-width: 1600px) {
    .section-welcome {
      min-height: 90vh; } }
  .section-welcome .container {
    position: relative; }
    .section-welcome .container .slider-cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 340px; }
      @media (min-width: 540px) {
        .section-welcome .container .slider-cards {
          height: 500px; } }
      @media (min-width: 992px) {
        .section-welcome .container .slider-cards {
          height: 500px; } }
      @media (min-width: 1600px) {
        .section-welcome .container .slider-cards {
          height: 600px; } }
      .section-welcome .container .slider-cards .slider-card-item {
        display: flex;
        justify-content: center;
        width: 65%;
        height: 100%;
        border-radius: 0.5rem;
        transform-origin: center center;
        transition: .8s;
        position: absolute;
        top: 0;
        z-index: 3;
        overflow: hidden;
        flex-direction: column;
        padding: 4rem 2rem; }
        @media (min-width: 992px) {
          .section-welcome .container .slider-cards .slider-card-item {
            padding: 3rem 2rem; } }
        .section-welcome .container .slider-cards .slider-card-item .row {
          background-color: #eaeaea;
          border-radius: 0.5rem;
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
          padding: 1.5rem 0;
          height: 100%; }
          @media (min-width: 992px) {
            .section-welcome .container .slider-cards .slider-card-item .row {
              padding: 0; } }
          .section-welcome .container .slider-cards .slider-card-item .row .heart {
            color: #C80C25; }
          .section-welcome .container .slider-cards .slider-card-item .row .content-img-product {
            position: relative; }
            .section-welcome .container .slider-cards .slider-card-item .row .content-img-product .img-product {
              position: absolute;
              top: 50%;
              left: 50%;
              max-width: 100%;
              max-height: 100%;
              transform: translate(-50%, -50%) scale(1); }
              @media (min-width: 992px) {
                .section-welcome .container .slider-cards .slider-card-item .row .content-img-product .img-product {
                  max-width: 70%;
                  max-height: 85%;
                  transform: translate(-50%, -50%) scale(1.4); } }
              @media (min-width: 1600px) {
                .section-welcome .container .slider-cards .slider-card-item .row .content-img-product .img-product {
                  max-width: 75%;
                  max-height: 85%; } }
        .section-welcome .container .slider-cards .slider-card-item * {
          pointer-events: none; }
        .section-welcome .container .slider-cards .slider-card-item--left {
          z-index: 1;
          transform: translate(-36%, 0px); }
          @media (max-width: 991.98px) {
            .section-welcome .container .slider-cards .slider-card-item--left {
              width: 105%; } }
          @media (min-width: 768px) {
            .section-welcome .container .slider-cards .slider-card-item--left {
              transform: translate(-15%, 0px) scale(0.9); } }
          .section-welcome .container .slider-cards .slider-card-item--left .row {
            opacity: 0;
            transition: opacity 1s; }
            @media (min-width: 992px) {
              .section-welcome .container .slider-cards .slider-card-item--left .row {
                opacity: 0.6; } }
            .section-welcome .container .slider-cards .slider-card-item--left .row * {
              opacity: 0;
              transition: opacity 1s; }
        .section-welcome .container .slider-cards .slider-card-item--center {
          z-index: 3;
          width: 105%;
          transform: translate(0%, 0px); }
          @media (min-width: 992px) {
            .section-welcome .container .slider-cards .slider-card-item--center {
              width: 65%; } }
          .section-welcome .container .slider-cards .slider-card-item--center * {
            pointer-events: initial;
            opacity: 1;
            transition: opacity 1s; }
        .section-welcome .container .slider-cards .slider-card-item--right {
          z-index: 1;
          transform: translate(36%, 0px); }
          @media (max-width: 991.98px) {
            .section-welcome .container .slider-cards .slider-card-item--right {
              width: 105%; } }
          @media (min-width: 768px) {
            .section-welcome .container .slider-cards .slider-card-item--right {
              transform: translate(15%, 0px) scale(0.9); } }
          .section-welcome .container .slider-cards .slider-card-item--right .row {
            opacity: 0;
            transition: opacity 1s; }
            @media (min-width: 992px) {
              .section-welcome .container .slider-cards .slider-card-item--right .row {
                opacity: 0.6; } }
            .section-welcome .container .slider-cards .slider-card-item--right .row * {
              opacity: 0;
              transition: opacity 1s; }
    .section-welcome .container .content-button-slider {
      position: absolute;
      right: 2rem;
      bottom: 4.5rem;
      z-index: 4; }
      @media (min-width: 992px) {
        .section-welcome .container .content-button-slider {
          right: 1rem;
          bottom: 25%; } }
      .section-welcome .container .content-button-slider button {
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 50px;
        background: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.6;
        transition: all 0.3s; }
        .section-welcome .container .content-button-slider button.prev-slider {
          background-image: url(../images/home/flecha-izq.png);
          margin-right: 0.5rem; }
        .section-welcome .container .content-button-slider button.next-slider {
          background-image: url(../images/home/flecha-der.png);
          margin-left: 0.5rem; }
        .section-welcome .container .content-button-slider button:hover {
          opacity: 1; }

.section-empresas {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section-empresas p {
    margin-bottom: 2rem; }
  .section-empresas .content-logos {
    text-align: center; }
    .section-empresas .content-logos img {
      width: 24%; }
      @media (min-width: 768px) {
        .section-empresas .content-logos img {
          width: 90px; } }
      @media (min-width: 992px) {
        .section-empresas .content-logos img {
          width: 130px; } }
      @media (min-width: 1200px) {
        .section-empresas .content-logos img {
          width: 180px; } }
    .section-empresas .content-logos img:nth-child(1) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .section-empresas .content-logos img:nth-child(2) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .section-empresas .content-logos img:nth-child(3) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .section-empresas .content-logos img:nth-child(4) {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s; }
    .section-empresas .content-logos img:nth-child(5) {
      -webkit-animation-delay: 1.0s;
              animation-delay: 1.0s; }
    .section-empresas .content-logos img:nth-child(6) {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s; }
    .section-empresas .content-logos img:nth-child(7) {
      -webkit-animation-delay: 1.4s;
              animation-delay: 1.4s; }

.section-description {
  background-color: #EFEFEF; }
  @media (min-width: 992px) {
    .section-description {
      background-color: lightgray;
      margin-top: 3%;
      margin-bottom: 3%;
      background-image: url(../images/home/bg-inf.png);
      background-size: cover;
      background-position: center; } }
  .section-description .content-row {
    margin-bottom: -100px; }
    @media (min-width: 992px) {
      .section-description .content-row {
        margin-bottom: 0; } }
  .section-description .col-izq-descrip {
    order: 2;
    text-align: center;
    transform: translateY(-100px); }
    @media (max-width: 991.98px) {
      .section-description .col-izq-descrip {
        background-image: url(../images/home/img_1.png);
        height: 300px;
        background-position: center;
        background-size: cover; } }
    @media (min-width: 992px) {
      .section-description .col-izq-descrip {
        order: 1;
        transform: translateY(0); } }
    .section-description .col-izq-descrip .img-col-izq {
      display: none;
      padding: 0 3rem;
      height: 100%; }
      @media (min-width: 992px) {
        .section-description .col-izq-descrip .img-col-izq {
          display: block; } }
      .section-description .col-izq-descrip .img-col-izq .img-descrip {
        box-shadow: 0px 24px 21px -15px rgba(0, 0, 0, 0.2); }
        @media (min-width: 992px) {
          .section-description .col-izq-descrip .img-col-izq .img-descrip {
            display: block;
            transform: scale(1.2);
            width: 95%;
            height: 100%;
            margin: 0 auto;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center;
               object-position: center; } }
  .section-description .col-der-descrip {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    order: 1; }
    @media (min-width: 992px) {
      .section-description .col-der-descrip {
        order: 2; } }
    .section-description .col-der-descrip .text-descrip {
      margin: 1rem;
      background-color: white;
      padding: 2rem;
      border-radius: 15px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (min-width: 992px) {
        .section-description .col-der-descrip .text-descrip {
          width: 80%; } }
      .section-description .col-der-descrip .text-descrip .title-descrip {
        font-size: 2.4rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0; }
      .section-description .col-der-descrip .text-descrip .subtitle-descrip {
        font-size: 1rem; }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          .section-description .col-der-descrip .text-descrip .subtitle-descrip {
            font-size: .8rem; } }
      .section-description .col-der-descrip .text-descrip .img-comillas {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%); }

.section-cards {
  background-color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .section-cards .card {
    margin: 0 1rem; }
  .section-cards .cards-cuadradas {
    margin-top: 4rem; }
    @media (max-width: 991.98px) {
      .section-cards .cards-cuadradas {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden; }
        .section-cards .cards-cuadradas::-webkit-scrollbar {
          display: none; } }
    .section-cards .cards-cuadradas .card {
      border: none;
      border-radius: 10px;
      transition: all .5s;
      box-shadow: 0px 24px 21px -15px rgba(0, 0, 0, 0.2); }
      .section-cards .cards-cuadradas .card:hover {
        box-shadow: 0px 0px 16px 9px rgba(228, 0, 43, 0.1);
        transform: scale(1.05); }
      .section-cards .cards-cuadradas .card .content-img-top {
        width: 100%;
        padding-bottom: 70%;
        position: relative;
        border-radius: 10px; }
        .section-cards .cards-cuadradas .card .content-img-top img {
          position: absolute;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          -o-object-position: center;
             object-position: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px; }
      .section-cards .cards-cuadradas .card .card-body {
        position: relative; }
        .section-cards .cards-cuadradas .card .card-body .btn-redgr-white {
          padding-left: 3rem;
          padding-right: 3rem;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%) translateY(-50%); }
          @media (min-width: 992px) and (max-width: 1199.98px) {
            .section-cards .cards-cuadradas .card .card-body .btn-redgr-white {
              padding-left: 2rem;
              padding-right: 2rem; } }
        .section-cards .cards-cuadradas .card .card-body .card-text {
          text-align: center;
          margin-top: 1rem; }

.section-productos {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  background-color: #efeff7; }
  .section-productos .slider-productos {
    width: 80%;
    margin: 3rem auto; }
    @media (min-width: 1024px) {
      .section-productos .slider-productos {
        width: calc(100% - 60px); } }
    .section-productos .slider-productos .items-productos .slick-slide {
      text-align: center; }
    .section-productos .slider-productos .items-productos .slick-next {
      width: 30px;
      height: 30px;
      right: -30px;
      opacity: 0.6;
      transition: all 0.3s; }
      .section-productos .slider-productos .items-productos .slick-next img {
        width: 30px;
        height: 30px; }
      .section-productos .slider-productos .items-productos .slick-next:hover {
        opacity: 1; }
    .section-productos .slider-productos .items-productos .slick-prev {
      left: -30px;
      width: 30px;
      height: 30px;
      opacity: 0.6;
      transition: all 0.3s;
      z-index: 1; }
      .section-productos .slider-productos .items-productos .slick-prev img {
        width: 30px;
        height: 30px; }
      .section-productos .slider-productos .items-productos .slick-prev:hover {
        opacity: 1; }
    .section-productos .slider-productos .items-productos .slick-next:before,
    .section-productos .slider-productos .items-productos .slick-prev:before {
      display: none; }
    .section-productos .slider-productos .items-productos span {
      font-weight: bold; }
    .section-productos .slider-productos .tab .tablinks {
      flex: 20%;
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0.5rem 0.5rem 0 0;
      transition: all 0.3s;
      width: 100%;
      font-weight: bold;
      font-size: 1.2rem;
      color: #5c5c5c; }
      .section-productos .slider-productos .tab .tablinks:hover {
        color: #e4002b; }
      .section-productos .slider-productos .tab .tablinks.active {
        color: #e4002b; }
  .section-productos .tabcontent {
    display: none;
    margin-top: 4rem;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; }
    .section-productos .tabcontent .card {
      padding: 1rem;
      border-top-left-radius: 50px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 10px;
      transition: all .5s; }
      @media (max-width: 525px) {
        .section-productos .tabcontent .card {
          padding: .5rem; } }
      @media (min-width: 768px) {
        .section-productos .tabcontent .card {
          margin: 1rem; } }
      @media (min-width: 1200px) {
        .section-productos .tabcontent .card {
          border-top-left-radius: 70px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 70px;
          border-bottom-left-radius: 15px; } }
      .section-productos .tabcontent .card:hover {
        box-shadow: 0px 0px 16px 9px rgba(228, 0, 43, 0.1);
        transform: scale(1.05); }
      .section-productos .tabcontent .card .content {
        width: 100%;
        height: 115px; }
        @media (min-width: 360px) {
          .section-productos .tabcontent .card .content {
            height: 19vh; } }
        @media (min-width: 425px) {
          .section-productos .tabcontent .card .content {
            height: 25vh; } }
        @media (min-width: 768px) {
          .section-productos .tabcontent .card .content {
            height: 30vh; } }
        @media (min-width: 1200px) {
          .section-productos .tabcontent .card .content {
            height: 35vh; } }
      .section-productos .tabcontent .card .img-producto {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        border-top-left-radius: 35px; }
      .section-productos .tabcontent .card .card-body .card-title {
        color: #e4002b;
        font-weight: bold;
        font-size: 1.2rem; }
      @media (max-width: 991.98px) {
        .section-productos .tabcontent .card .card-body .card-text {
          font-size: .7rem; } }
      .section-productos .tabcontent .card .card-body .btn-rounded {
        border-radius: 5px; }
      .section-productos .tabcontent .card .card-body .btn-redgr-white {
        padding-left: 2rem;
        padding-right: 2rem; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .section-productos .tabcontent .card .card-body .btn-redgr-white {
            padding-left: 1.5rem;
            padding-right: 1.5rem; } }
        @media (min-width: 992px) {
          .section-productos .tabcontent .card .card-body .btn-redgr-white {
            padding-left: 3rem;
            padding-right: 3rem; } }
  .section-productos .tabcontent.tab-ppal {
    display: block; }
  .section-productos .content-pagination .pagination {
    display: block; }
    .section-productos .content-pagination .pagination .next_link,
    .section-productos .content-pagination .pagination .prev_link {
      margin: 0 1rem;
      color: #e4002b;
      transition: all 0.3s; }
      .section-productos .content-pagination .pagination .next_link:hover,
      .section-productos .content-pagination .pagination .prev_link:hover {
        color: #5c5c5c; }
    .section-productos .content-pagination .pagination .text-pagination {
      padding: 0.5rem 1rem;
      background-color: #e4002b;
      color: #ffffff;
      font-weight: 700; }

.section-premios {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .section-premios .card {
    border: none;
    text-align: center;
    transition: all .5s; }
    .section-premios .card:hover {
      box-shadow: 0px 0px 16px 9px rgba(228, 0, 43, 0.1);
      transform: scale(1.05); }

.section-description2 {
  background-color: #EFEFEF; }
  @media (min-width: 992px) {
    .section-description2 {
      background-color: lightgray;
      margin-top: 3%;
      margin-bottom: 3%;
      background-image: url(../images/home/bg-inf2.png);
      background-size: cover;
      background-position: center; } }
  .section-description2 .content-row {
    margin-bottom: -100px; }
    @media (min-width: 992px) {
      .section-description2 .content-row {
        margin-bottom: 0; } }
  .section-description2 .col-izq-descrip {
    order: 2;
    text-align: center;
    transform: translateY(-100px); }
    @media (max-width: 991.98px) {
      .section-description2 .col-izq-descrip {
        background-image: url(../images/home/img_4.png);
        height: 300px;
        background-position: center;
        background-size: cover; } }
    @media (min-width: 992px) {
      .section-description2 .col-izq-descrip {
        order: 2;
        transform: translateY(0); } }
    .section-description2 .col-izq-descrip .img-col-izq {
      display: none;
      padding: 0 3rem;
      height: 100%; }
      @media (min-width: 992px) {
        .section-description2 .col-izq-descrip .img-col-izq {
          display: block; } }
      .section-description2 .col-izq-descrip .img-col-izq .img-descrip {
        box-shadow: 0px 24px 21px -15px rgba(0, 0, 0, 0.2); }
        @media (min-width: 992px) {
          .section-description2 .col-izq-descrip .img-col-izq .img-descrip {
            display: block;
            transform: scale(1.2);
            width: 95%;
            height: 100%;
            margin: 0 auto;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center;
               object-position: center; } }
  .section-description2 .col-der-descrip {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    order: 1; }
    @media (min-width: 992px) {
      .section-description2 .col-der-descrip {
        order: 1; } }
    .section-description2 .col-der-descrip .text-descrip {
      margin: 1rem;
      background-color: white;
      padding: 2rem;
      border-radius: 15px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (min-width: 992px) {
        .section-description2 .col-der-descrip .text-descrip {
          width: 80%; } }
      .section-description2 .col-der-descrip .text-descrip .title-descrip {
        font-size: 2.4rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0; }
      .section-description2 .col-der-descrip .text-descrip .subtitle-descrip {
        font-size: 1rem; }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          .section-description2 .col-der-descrip .text-descrip .subtitle-descrip {
            font-size: .8rem; } }
      .section-description2 .col-der-descrip .text-descrip .img-comillas {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%); }

.section-noticias {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
  text-align: center; }
  @media (min-width: 992px) {
    .section-noticias {
      padding-top: 4rem; } }
  .section-noticias a {
    text-decoration: none; }
    .section-noticias a img {
      width: 40%;
      border-radius: 15px;
      transition: all .5s; }
      @media (min-width: 992px) {
        .section-noticias a img {
          width: 15%; } }
      .section-noticias a img:hover {
        box-shadow: 0px 0px 16px 9px rgba(228, 0, 43, 0.1);
        transform: scale(1.05); }
