.section-team {
  padding-top: 100px;
  background-image: url(../images/team/bg-team-mobile.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .section-team {
      background: #efeff7;
      background-image: url(../images/team/bg-team.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% auto;
      padding-top: 150px;
      padding-bottom: 3rem; } }
  .section-team .container1 {
    background: transparent;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; }
    @media (min-width: 992px) {
      .section-team .container1 {
        background: #ffffff; } }
    @media (max-width: 991.98px) {
      .section-team .container1 p {
        color: #ffffff; } }
  .section-team .container2 {
    background: #ffffff; }
    @media (max-width: 991.98px) {
      .section-team .container2 {
        max-width: 100%; } }
    @media (min-width: 992px) {
      .section-team .container2 {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-bottom: 1.5rem; } }
    .section-team .container2 .bg-gray {
      background: #eaeaea; }
    .section-team .container2 .bg-white {
      background: #ffffff; }
    .section-team .container2 .py-item {
      padding-top: 3rem;
      padding-bottom: 3rem; }
      @media (min-width: 992px) {
        .section-team .container2 .py-item {
          padding-top: 6rem;
          padding-bottom: 6rem; } }
    .section-team .container2 .content-data {
      padding: 1rem;
      text-align: center;
      border-radius: 10px; }
      @media (min-width: 992px) {
        .section-team .container2 .content-data {
          padding: 1.5rem; } }
      .section-team .container2 .content-data p {
        margin: 0; }
      .section-team .container2 .content-data .nombre {
        font-size: 1.2rem;
        font-weight: 600;
        color: #1d1d1b; }
        @media (min-width: 992px) {
          .section-team .container2 .content-data .nombre {
            font-size: 1.5rem; } }
      .section-team .container2 .content-data .cargo {
        font-size: 1rem;
        font-weight: 400; }
        @media (min-width: 992px) {
          .section-team .container2 .content-data .cargo {
            font-size: 1.2rem; } }
      .section-team .container2 .content-data i {
        font-size: 2rem;
        transition: all 0.3s; }
        .section-team .container2 .content-data i:hover {
          transform: scale(1.2); }
        .section-team .container2 .content-data i.icon-ln {
          color: #0e76a8; }
    .section-team .container2 .content-img {
      position: relative; }
      .section-team .container2 .content-img img {
        height: calc(100% + 6rem);
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, calc(-50% - 1.5rem), 0); }
        @media (min-width: 992px) {
          .section-team .container2 .content-img img {
            height: calc(100% + 12rem);
            transform: translate3d(-50%, calc(-50% - 3rem), 0); } }
      .section-team .container2 .content-img .img-2 {
        opacity: 0;
        transition: all 0.5s; }
      .section-team .container2 .content-img .img-1 {
        z-index: 2;
        opacity: 1;
        transition: all 0.5s; }
        .section-team .container2 .content-img .img-1:hover {
          opacity: 0; }
        .section-team .container2 .content-img .img-1:hover ~ .img-2 {
          opacity: 1; }
