.accordion-button {
  padding: .6rem 1.25rem;
  font-family: "Roboto";
  font-weight: 300;
  color: #808080; }

.accordion-button::after {
  background-image: url("../images/icons/plus-accordion.png"); }

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/icons/menos.svg"); }

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none; }

.section-dudas {
  background-image: url("../images/olas.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  padding-top: 8rem; }
  @media (max-width: 767.98px) {
    .section-dudas {
      padding-top: 4rem; } }

.content-accordion li {
  color: #808080; }
  .content-accordion li span {
    font-weight: 800; }

.content-accordion a {
  color: #808080;
  text-decoration: none;
  word-break: break-all;
  transition: all 0.3s; }
  .content-accordion a:hover {
    font-weight: 800;
    color: #2f4b91; }
