.content-intro {
  background: #0292eb;
  background-image: url(../images/index/welcome-index.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; }
  .content-intro .container {
    position: relative;
    height: 100%; }
    .content-intro .container .logo {
      position: absolute;
      width: 25vh;
      top: 3rem;
      left: 50%;
      transform: translateX(-50%); }
      @media (min-width: 768px) {
        .content-intro .container .logo {
          left: 0;
          transform: translateX(0); } }
    .content-intro .container .content-form {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      transform: translate3d(-50%, -50%, 0); }
      .content-intro .container .content-form p {
        font-family: Montserrat;
        font-size: 4rem;
        font-weight: 800;
        color: #ffffff;
        text-align: center; }
        .content-intro .container .content-form p span {
          font-family: Montserrat;
          font-weight: 400; }
      .content-intro .container .content-form select {
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        color: #808080; }
        @media (min-width: 768px) {
          .content-intro .container .content-form select {
            border-radius: 0; }
            .content-intro .container .content-form select.select1 {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              border-right: 1px solid lightgray; }
            .content-intro .container .content-form select.select3 {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              border-left: 1px solid lightgray; } }
        .content-intro .container .content-form select:focus {
          box-shadow: none; }
      .content-intro .container .content-form a {
        letter-spacing: normal;
        line-height: 1.4; }
  .content-intro .dropdown {
    position: absolute;
    bottom: 3rem; }
  .content-intro .dropdown-toggle::after {
    border-top: 0.3em solid #ffffff !important;
    position: relative;
    left: 30px; }
  .content-intro .dropdown-menu {
    min-width: 9rem !important;
    padding: 0 !important;
    border-radius: 1.25rem !important; }
    .content-intro .dropdown-menu li {
      margin-bottom: 0 !important; }
  .content-intro .dropdown-item {
    color: #3B90DB;
    background-color: #ffffff !important; }
    .content-intro .dropdown-item:hover {
      color: #ffffff;
      background-color: #3B90DB !important; }
  .content-intro .btn-idiomas {
    border-radius: 1.2em;
    background-color: #3B90DB;
    text-align: left;
    max-width: 200px;
    color: #ffffff; }
    .content-intro .btn-idiomas .arrow-down {
      width: 0.8rem; }
  .content-intro .whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-image: url("../images/bg-whatsapp.png");
    background-size: cover;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100; }
  .content-intro .whatsapp-icon {
    width: 60%;
    margin-top: 10px; }
