.accordion-button {
  padding: .6rem 1.25rem;
  font-family: "Roboto";
  font-weight: 300;
  color: #808080; }

.accordion-button::after {
  background-image: url("../images/icons/plus-accordion.png"); }

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/icons/plus-accordion.png");
  transform: rotate(-135deg); }

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none; }

.section-dudas {
  background-image: url("../images/olas.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  padding-top: 8rem; }
  @media (max-width: 767.98px) {
    .section-dudas {
      padding-top: 4rem; } }

.section-1,
.section-7 {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .section-1 a,
  .section-7 a {
    color: #808080;
    text-decoration: none;
    word-break: break-all;
    transition: all 0.3s; }
    .section-1 a span,
    .section-7 a span {
      font-weight: 800; }
    .section-1 a:hover,
    .section-7 a:hover {
      color: #2f4b91; }
  .section-1 li,
  .section-7 li {
    color: #808080; }
    .section-1 li span,
    .section-7 li span {
      font-weight: 800; }
  .section-1 .text-mapa,
  .section-7 .text-mapa {
    margin-bottom: 5rem; }
  .section-1 .title-mapa,
  .section-7 .title-mapa {
    margin-left: 1rem;
    border-bottom: 1px solid #20A9D7;
    color: #808080;
    font-weight: 800;
    width: 100%; }
  .section-1 .table,
  .section-7 .table {
    color: #ffffff;
    overflow-y: hidden; }
    @media (max-width: 424.98px) {
      .section-1 .table,
      .section-7 .table {
        font-size: .8rem; } }
  .section-1 .tabla1,
  .section-7 .tabla1 {
    background-color: #1F497D;
    border-radius: 10px; }
  .section-1 .tabla2,
  .section-7 .tabla2 {
    background-color: #0A79A0; }
  .section-1 .tabla3,
  .section-7 .tabla3 {
    background-color: #3374BC;
    border-radius: 10px; }
  .section-1 .tabla4,
  .section-7 .tabla4 {
    background-color: #29ABE2; }
  .section-1 .tabla5,
  .section-7 .tabla5 {
    background-color: #29ABE2;
    border-radius: 10px; }
  .section-1 .tabla6,
  .section-7 .tabla6 {
    background-color: #0A79A0;
    border-radius: 10px; }
  .section-1 .line-material,
  .section-7 .line-material {
    width: 6.5rem;
    height: .6rem;
    background-color: #29ABE2;
    opacity: 1; }
  .section-1 .line-map-cards,
  .section-7 .line-map-cards {
    width: 8.5rem;
    height: .2rem;
    background-color: #29ABE2;
    opacity: 1;
    margin: 0; }

.section-2,
.section-4,
.section-6,
.section-8,
.section-10,
.section-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #F7FBFC; }
  .section-2 a,
  .section-4 a,
  .section-6 a,
  .section-8 a,
  .section-10 a,
  .section-12 a {
    color: #808080;
    text-decoration: none;
    word-break: break-all;
    transition: all 0.3s; }
    .section-2 a span,
    .section-4 a span,
    .section-6 a span,
    .section-8 a span,
    .section-10 a span,
    .section-12 a span {
      font-weight: 800; }
    .section-2 a:hover,
    .section-4 a:hover,
    .section-6 a:hover,
    .section-8 a:hover,
    .section-10 a:hover,
    .section-12 a:hover {
      color: #2f4b91; }

.section-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .section-3 li {
    color: #808080; }
    .section-3 li span {
      font-weight: 800; }
  .section-3 a {
    color: #808080;
    text-decoration: none;
    word-break: break-all;
    transition: all 0.3s; }
    .section-3 a span {
      font-weight: 800; }
    .section-3 a:hover {
      color: #2f4b91; }

.section-5,
.section-9,
.section-11,
.section-13 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.title-cards h4 {
  color: #2f4b91;
  font-family: Montserrat;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: all .5s; }
  .title-cards h4:hover {
    color: #3B90DB; }
  .title-cards h4 span {
    color: #2f4b91;
    font-family: Montserrat;
    font-weight: 400;
    transition: all .5s; }
    .title-cards h4 span:hover {
      color: #3B90DB; }

.img-cards-guia {
  max-width: 70%;
  opacity: 0.8;
  box-shadow: 10px 14px 4px -2px rgba(218, 241, 250, 0.75);
  border-radius: 15px;
  transition: all .5s; }
  .img-cards-guia:hover {
    transform: scale(1.1);
    opacity: 1; }
