.section-vuelos {
  padding: 5% 0; }
  .section-vuelos .title-page {
    font-size: 3.5rem;
    font-weight: 900;
    color: #7d428f; }
  .section-vuelos .accordion-button:not(.collapsed) {
    color: #7d428f;
    font-weight: bold;
    background-color: #f0d5f8; }
  .section-vuelos .accordion-button {
    font-weight: bold; }
    .section-vuelos .accordion-button:focus {
      border-color: #86b7fe;
      box-shadow: none; }
  .section-vuelos .accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .section-vuelos .clean-filtro {
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem; }
    .section-vuelos .clean-filtro a {
      color: #3a3a3a; }
  .section-vuelos .search-more {
    position: relative;
    padding: 1rem;
    background-color: #7d428f;
    border-radius: 5px; }
    .section-vuelos .search-more .text-big {
      color: #ffffff;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1; }
    .section-vuelos .search-more a {
      color: #ffffff;
      font-size: .8rem;
      transition: all .3s; }
      .section-vuelos .search-more a:hover {
        color: #f8b300; }
    .section-vuelos .search-more img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10%; }
      @media (min-width: 992px) {
        .section-vuelos .search-more img {
          width: 30%; } }
  .section-vuelos .alarm {
    position: relative;
    padding: 1rem;
    background-color: #7d428f;
    border-radius: 5px; }
    .section-vuelos .alarm .text-big {
      color: #ffffff;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1; }
    .section-vuelos .alarm .content-alarm {
      width: 70%; }
      .section-vuelos .alarm .content-alarm p {
        font-size: .8rem; }
    .section-vuelos .alarm img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10%; }
      @media (min-width: 992px) {
        .section-vuelos .alarm img {
          width: 35%; } }
  .section-vuelos .nav-tabs .nav-link {
    color: #3a3a3a;
    font-weight: bold;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .section-vuelos .nav-tabs .nav-link.active {
    color: #3a3a3a;
    font-weight: bold;
    background-color: #bfa1c7;
    border-color: #dee2e6 #dee2e6 #fff; }
  .section-vuelos .nav-item button {
    padding: .5rem 3rem;
    background-color: #e5d9e9; }
  .section-vuelos .nav-item:nth-child(2) {
    margin-left: 0; }
    @media (min-width: 342px) {
      .section-vuelos .nav-item:nth-child(2) {
        margin-left: .4rem; } }
  .section-vuelos .first-column {
    display: none; }
    @media (min-width: 768px) {
      .section-vuelos .first-column {
        display: block; } }
  .section-vuelos .column-flight {
    border: 1px solid #b1b1b1;
    padding: 0; }
    .section-vuelos .column-flight .content-text-column,
    .section-vuelos .column-flight .content-text-border {
      padding: .6rem 1.3rem;
      position: relative; }
    .section-vuelos .column-flight .content-text-gray {
      padding: .6rem 1.3rem;
      background-color: #c4c4c4; }
      .section-vuelos .column-flight .content-text-gray .img-copa {
        width: 5%; }
        @media (min-width: 768px) {
          .section-vuelos .column-flight .content-text-gray .img-copa {
            width: 15%; } }
    .section-vuelos .column-flight .content-text-border {
      border-bottom: 1px solid #b1b1b1; }
    .section-vuelos .column-flight .movil-type {
      border: 1px solid #7f4391;
      padding: 0 10px;
      color: #7f4391;
      font-size: 11px;
      font-weight: 400;
      position: absolute;
      left: 20px;
      top: 0;
      display: block;
      transform: translateY(25%); }
      @media (min-width: 425px) {
        .section-vuelos .column-flight .movil-type {
          transform: translateY(50%); } }
      @media (min-width: 768px) {
        .section-vuelos .column-flight .movil-type {
          display: none; } }
  .section-vuelos .details-flight {
    border: 1px solid #b1b1b1; }
    @media (min-width: 768px) {
      .section-vuelos .details-flight {
        padding-right: 0; } }
    .section-vuelos .details-flight .column-shaded-details-flight {
      background-color: #c4c4c4;
      display: flex;
      align-items: center;
      padding: .5rem 1rem; }
      .section-vuelos .details-flight .column-shaded-details-flight .fa-plane {
        color: #7d428f;
        font-size: 1.4rem;
        margin-right: .8rem; }
      .section-vuelos .details-flight .column-shaded-details-flight .plane-left {
        transform: rotate(180deg); }
      .section-vuelos .details-flight .column-shaded-details-flight .text-ida-vuelta {
        font-weight: bold; }
      .section-vuelos .details-flight .column-shaded-details-flight .text-details-flight {
        font-size: .8rem; }
    .section-vuelos .details-flight .column-details-flight {
      display: flex;
      align-items: center;
      padding: .5rem 1rem; }
      .section-vuelos .details-flight .column-details-flight .text-details-flight {
        font-size: .8rem; }
      .section-vuelos .details-flight .column-details-flight .img-copa {
        width: 25%;
        margin-right: .5rem; }
      .section-vuelos .details-flight .column-details-flight .text-hour-flight {
        font-weight: bold; }
      .section-vuelos .details-flight .column-details-flight .arrow-flight {
        width: 100%; }
      .section-vuelos .details-flight .column-details-flight .text-escala {
        font-size: .4rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-15%); }
        @media (min-width: 455px) {
          .section-vuelos .details-flight .column-details-flight .text-escala {
            font-size: .5rem; } }
      .section-vuelos .details-flight .column-details-flight .time-flight {
        color: #b1b1b1;
        margin-left: 1rem;
        font-size: .8rem; }
      .section-vuelos .details-flight .column-details-flight .more-info {
        font-size: .8rem;
        padding: .375rem .25rem; }
        @media (min-width: 456px) {
          .section-vuelos .details-flight .column-details-flight .more-info {
            padding: .375rem .75rem; } }
        .section-vuelos .details-flight .column-details-flight .more-info a {
          font-size: .8rem;
          color: #3a3a3a; }
    .section-vuelos .details-flight .custom-flight {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-top: 1px solid #b1b1b1; }
      .section-vuelos .details-flight .custom-flight .btn-custom-flight a {
        color: #3a3a3a; }
  .section-vuelos .col-right-package {
    border: 1px solid #b1b1b1; }
    @media (min-width: 768px) {
      .section-vuelos .col-right-package {
        padding-left: 0; } }
    .section-vuelos .col-right-package .col-reservation {
      padding: 0 .5rem; }
      .section-vuelos .col-right-package .col-reservation .text-price {
        font-size: 1.2rem;
        margin-bottom: 0; }
      .section-vuelos .col-right-package .col-reservation .price-big {
        color: #7d428f;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0; }
      .section-vuelos .col-right-package .col-reservation .fa-shopping-bag {
        color: #f8b300; }
      .section-vuelos .col-right-package .col-reservation .fa-suitcase {
        color: #f8b300;
        font-size: 1.3rem; }
      .section-vuelos .col-right-package .col-reservation .fa-briefcase {
        color: #b1b1b1;
        font-size: 1.5rem; }
      .section-vuelos .col-right-package .col-reservation .package-details {
        font-size: .8rem;
        margin-bottom: 0;
        color: #b1b1b1; }

#modalDetalleVuelo {
  z-index: 3050; }
  #modalDetalleVuelo .modal-content .modal-header {
    background-color: #d7d7d7; }
    #modalDetalleVuelo .modal-content .modal-header .modal-title {
      font-weight: bold; }

#modalPaquetesVuelos {
  z-index: 3050; }
  #modalPaquetesVuelos .modal-content .modal-header .modal-title {
    font-weight: bold;
    color: #7d428f;
    line-height: 0.7; }
    #modalPaquetesVuelos .modal-content .modal-header .modal-title strong {
      font-size: 1.2rem;
      color: #3a3a3a;
      font-weight: 600; }
  #modalPaquetesVuelos .modal-content .modal-body .package {
    border: 1px solid #b1b1b1;
    margin: .3rem;
    border-radius: 15px; }
    #modalPaquetesVuelos .modal-content .modal-body .package .type-package {
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      text-align: center;
      padding: .5rem 0; }
      #modalPaquetesVuelos .modal-content .modal-body .package .type-package .title-type-package {
        font-weight: 700;
        font-size: 1.3rem;
        margin-bottom: 0; }
      #modalPaquetesVuelos .modal-content .modal-body .package .type-package .subtitle-type-package {
        margin-bottom: 0; }
    #modalPaquetesVuelos .modal-content .modal-body .package .form-check-input:checked {
      background-color: #7d428f;
      border-color: #7d428f; }
    #modalPaquetesVuelos .modal-content .modal-body .package .form-check-input:focus {
      border-color: #7d428f;
      box-shadow: none; }
    #modalPaquetesVuelos .modal-content .modal-body .package .form-check-label strong {
      font-size: 1.5rem; }
    #modalPaquetesVuelos .modal-content .modal-body .package .details-package {
      padding: 1rem;
      background-color: #d7d7d7;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px; }
      #modalPaquetesVuelos .modal-content .modal-body .package .details-package .title {
        font-weight: 700;
        margin-bottom: .5rem; }
      #modalPaquetesVuelos .modal-content .modal-body .package .details-package ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0; }
        #modalPaquetesVuelos .modal-content .modal-body .package .details-package ul .fa-shopping-bag,
        #modalPaquetesVuelos .modal-content .modal-body .package .details-package ul .fa-suitcase,
        #modalPaquetesVuelos .modal-content .modal-body .package .details-package ul .fa-briefcase {
          color: green; }
        #modalPaquetesVuelos .modal-content .modal-body .package .details-package ul .fa-check,
        #modalPaquetesVuelos .modal-content .modal-body .package .details-package ul .fa-times {
          font-size: .7rem;
          color: green; }

/*# sourceMappingURL=vuelos.css.map */
