.section-welcome {
  background-image: url(../images/bg-welcome.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 6rem;
  display: flex;
  align-items: center; }
  @media (min-width: 992px) {
    .section-welcome {
      padding-top: 150px; } }
  .section-welcome .title {
    text-align: center; }
    @media (min-width: 768px) {
      .section-welcome .title {
        text-align: start; } }
  .section-welcome .content-reserva {
    background-color: #FFBF53;
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
    position: relative; }
    .section-welcome .content-reserva img {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-50%);
      width: 20px; }
    .section-welcome .content-reserva a {
      text-decoration: none;
      color: #5c5c5c;
      transition: all .5s; }
      .section-welcome .content-reserva a:hover {
        color: #00A9DC; }

.section-contacto {
  background-color: #F5F8FD; }
  .section-contacto .container {
    background: linear-gradient(to bottom, #96ddf1 0%, white 8%, white 12%, white 100%);
    border-radius: 15px;
    transform: translateY(-4rem); }
    .section-contacto .container .content-contacto {
      padding: 4rem 3rem; }
      .section-contacto .container .content-contacto iframe {
        width: 100%;
        height: 300px; }
      .section-contacto .container .content-contacto .col-izq {
        order: 2; }
        @media (min-width: 768px) {
          .section-contacto .container .content-contacto .col-izq {
            order: 1; } }
        .section-contacto .container .content-contacto .col-izq .content-map {
          background-color: #353A34;
          padding: 1rem 0; }
          .section-contacto .container .content-contacto .col-izq .content-map p {
            color: #ffffff; }
          .section-contacto .container .content-contacto .col-izq .content-map .fa-map-marker-alt {
            color: #00A9DC; }
      .section-contacto .container .content-contacto .col-der {
        order: 1; }
        @media (min-width: 768px) {
          .section-contacto .container .content-contacto .col-der {
            padding: 0 3rem;
            order: 2; } }
        .section-contacto .container .content-contacto .col-der .text-yellow-contacto {
          font-size: 2rem;
          font-weight: 600;
          color: #FFBF53;
          text-align: center; }
