.section-welcome {
  background-image: url(../images/bg-welcome.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 6rem;
  display: flex;
  align-items: center; }
  @media (min-width: 992px) {
    .section-welcome {
      padding-top: 150px; } }
  .section-welcome .title {
    text-align: center; }
    @media (min-width: 768px) {
      .section-welcome .title {
        text-align: start; } }

.section-combo {
  background-color: #F5F8FD; }
  .section-combo .container {
    background: linear-gradient(to bottom, #96ddf1 0%, white 8%, white 12%, white 100%);
    border-radius: 15px;
    transform: translateY(-4rem); }
    .section-combo .container .content-menu {
      padding: 4rem 1rem; }
      @media (min-width: 425px) {
        .section-combo .container .content-menu {
          padding: 4rem 3rem; } }
      .section-combo .container .content-menu .col-combos {
        border-bottom: 1px dotted #5c5c5c;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 3rem; }
        .section-combo .container .content-menu .col-combos .img-container {
          transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotateX(45deg);
          -o-transform: rotateX(45deg);
          position: relative;
          height: 100px;
          width: 100px;
          margin: 0 auto;
          padding: 0;
          cursor: pointer; }
          @media (min-width: 768px) {
            .section-combo .container .content-menu .col-combos .img-container {
              height: 150px;
              width: 150px; } }
          .section-combo .container .content-menu .col-combos .img-container .img-rhombus {
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: inline-block;
            margin: 2%;
            padding: 0;
            border-radius: 10px; }
            .section-combo .container .content-menu .col-combos .img-container .img-rhombus .inner-wrapper {
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              width: 160%;
              height: 160%;
              position: relative;
              transition: all 0.5s linear; }
              .section-combo .container .content-menu .col-combos .img-container .img-rhombus .inner-wrapper img {
                transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotateX(-45deg);
                -o-transform: rotateX(-45deg);
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0; }

.placa-menu {
  content: "";
  background: white;
  background: linear-gradient(90deg, rgba(250, 214, 9, 0.7) 0%, rgba(255, 255, 255, 0) 150%);
  transform: rotate(-45deg);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0; }

#menu-combos .modal-content .img-menu-modal {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 40vh; }
  @media (min-width: 992px) {
    #menu-combos .modal-content .img-menu-modal {
      width: 100%;
      height: 100%; } }

#menu-combos .modal-content .title-modal {
  font-size: 1.5rem;
  color: #FFBF53;
  font-weight: bold; }

#menu-combos .modal-content ol {
  padding-left: 1rem; }
  #menu-combos .modal-content ol li::marker {
    color: #00A9DC;
    font-weight: 600; }
  #menu-combos .modal-content ol li {
    color: #5c5c5c; }
