@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: #666666;
  font-size: 10px;
  background-color: #ffffff; }
  @media (min-width: 425px) {
    html, body {
      font-size: 12px; } }
  @media (min-width: 768px) {
    html, body {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: 16px; } }

.fa-stack {
  font-size: 1.2rem; }
  .fa-stack .icon-bg {
    color: #333333;
    transition: all 0.3s; }
  .fa-stack .icon-red {
    color: #ffffff;
    transition: all 0.3s; }

.redes-celeste {
  text-decoration: none;
  margin: 0 1rem; }
  .redes-celeste .fa-stack {
    font-size: 2.2rem; }
    .redes-celeste .fa-stack .icon-bg {
      color: #9BC8FF;
      transition: all 0.3s; }
    .redes-celeste .fa-stack .icon-red {
      color: #ffffff;
      transition: all 0.3s; }
  .redes-celeste:hover .icon-bg {
    color: #333333; }
  .redes-celeste:hover .icon-red {
    color: #ffffff; }

.redes-gray {
  text-decoration: none;
  margin: 0 .2rem; }
  .redes-gray .fa-stack {
    font-size: 1.6rem; }
    .redes-gray .fa-stack .icon-bg {
      color: #333333;
      transition: all 0.3s; }
    .redes-gray .fa-stack .icon-red {
      color: #ffffff;
      font-size: 1.3em;
      transition: all 0.3s; }
  .redes-gray:hover .icon-bg {
    color: #9BC8FF; }
  .redes-gray:hover .icon-red {
    color: #ffffff; }

.btn-rounded {
  border-radius: 50px; }

.btn-celeste-white {
  padding-left: 2rem;
  padding-right: 2rem;
  color: #ffffff;
  font-weight: bold;
  background: #9BC8FF;
  border: none;
  transition: all 0.3s; }
  .btn-celeste-white:hover {
    color: #9BC8FF;
    box-shadow: 0 0 1px 1px #9BC8FF; }
  .btn-celeste-white:before {
    background: #ffffff;
    border-radius: 50px; }
  .btn-celeste-white:focus {
    box-shadow: 0 0 1px 1px #9BC8FF;
    color: #ffffff; }

.btn-center-out {
  transform: perspective(1px) translateZ(0);
  overflow: hidden; }

.btn-center-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s; }

.btn-center-out:hover:before,
.btn-center-out:focus:before,
.btn-center-out:active:before {
  transform: scale(1.15); }
